{
    "swagger": "2.0",
    "info": {
        "title": "Retresco Documents-API",
        "description": "Retresco Documents-API",
        "version": "0.9"
    },
    "host": "kurier-stage01.rtrsupport.de",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/documents/{documentId}" : {
            "put": {
                "summary": "Saves a document.",
                "description": "Saves a document.",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "enrich",
                        "in": "query",
                        "description": "Use semantic enrichment (default: true)",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "in_text_links",
                        "in": "query",
                        "description": "Add in-text links, only when enrich=true (default: false)",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "index",
                        "in": "query",
                        "description": "Index documents (default: true)",
                        "type": "integer",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The document was created.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoDocument"
                        }
                    },
                    "201": {
                        "description": "The document was created.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoDocument"
                        }
                    },
                    "400": {
                        "description": "Bad request/validation error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "409": {
                        "description": "The document id (parameter) doesn't match the doc_id field in the body of the request.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    }
                }
            },
            "get": {
                "summary": "Gets a document.",
                "description": "Gets a document.",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The document was fetched.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoDocument"
                        }
                    },
                    "400": {
                        "description": "Bad request/validation error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "404": {
                        "description": "Invalid document id.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Deletes a document.",
                "description": "Deletes a document.",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The document was deleted."
                    },
                    "500": {
                        "description": "Internal server error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "RetrescoDocument": {
            "type": "object",
            "properties": {
                "doc_id": {
                    "type": "string"
                },
                "doc_type": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "published": {
                    "type": "boolean"
                },
                "title": {
                    "type": "string"
                },
                "supertitle": {
                    "type": "string"
                },
                "author": {
                    "type": "string"
                },
                "teaser": {
                    "type": "string"
                },
                "teaser_img_url": {
                    "type": "string"
                },
                "teaser_img_subline": {
                    "type": "string"
                },
                "body": {
                    "type": "string"
                },
                "section": {
                    "type": "string"
                },
                "date": {
                    "type": "date"
                },
                "startdate": {
                    "type": "date"
                },
                "enddate": {
                    "type": "date"
                },
                "published_date": {
                    "type": "date"
                },
                "updated_date": {
                    "type": "date"
                },
                "source": {
                    "type": "string"
                },
                "agentur": {
                    "type": "string"
                },
                "article_score": {
                    "type": "integer"
                },
                "pi_last_72h": {
                    "type": "integer"
                },
                "comments_count": {
                    "type": "integer"
                },
                "socialmedia_shares": {
                    "type": "integer"
                },
                "socialmedia_traffic": {
                    "type": "integer"
                },
                "retention_period": {
                    "type": "integer"
                },
                "video_views": {
                    "type": "integer"
                },
                "bounce_rate": {
                    "type": "integer"
                },
                "pin": {
                    "type": "object",
                    "properties": {
                      "location": {
                        "type": "object",
                        "properties": {
                          "lat": {
                            "type": "double"
                          },
                          "lon": {
                            "type": "double"
                          }
                        },
                        "required": ["lat", "lon"]
                      }
                    },
                    "required": ["location"]
                },
                "rtr_persons": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_locations": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_organisations": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_products": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_events": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_keywords": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "payload": {
                    "type": "object",
                    "items": {
                        "type": "string"
                    }
                }
            },
            "required": ["doc_id", "doc_type", "url", "published", "title", "teaser", "section", "date"]
        },
        "RetrescoSearchQuery": {
            "type": "object",
            "properties": {
                "q": {
                    "type": "string"
                },
                "search_fields": {
                    "type": "string"
                },
                "result_size": {
                    "type": "int"
                },
                "result_from": {
                    "type": "int"
                },
                "sort_field": {
                    "type": "string"
                },
                "authors": {
                    "type": "string"
                },
                "locations": {
                    "type": "string"
                },
                "persons": {
                    "type": "string"
                },
                "products": {
                    "type": "string"
                },
                "organisations": {
                    "type": "string"
                },
                "keywords": {
                    "type": "string"
                },
                "sources": {
                    "type": "string"
                },
                "doc_types": {
                    "type": "string"
                },
                "published": {
                    "type": "bool"
                },
                "date_from": {
                    "type": "date"
                },
                "date_to": {
                    "type": "date"
                }
            }
        },
        "RetrescoClientError": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
