{
    "swagger": "2.0",
    "info": {
        "title": "Retresco Documents-API",
        "description": "Retresco Documents-API",
        "version": "?"
    },
    "host": "kurier-stage01.rtrsupport.de",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "session": []
        }
    ],
    "securityDefinitions": {
        "session": {
            "type": "apiKey",
            "name": "Cookie",
            "in": "header",
            "description": "The session ID value as returned from /login, pre-prended with \"JSESSIONID=\"."
        }
    },
    "paths": {
        "/documents/{documentId}" : {
            "put": {
                "summary": "Saves a document.",
                "description": "Saves a document.",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "enrich",
                        "in": "query",
                        "description": "Use semantic enrichment (default: true)",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "in_text_links",
                        "in": "query",
                        "description": "Add in-text links, only when enrich=true (default: false)",
                        "type": "integer",
                        "required": false
                    },
                    {
                        "name": "index",
                        "in": "query",
                        "description": "Index documents (default: true)",
                        "type": "integer",
                        "required": false
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The document was created.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoDocument"
                        }
                    },
                    "201": {
                        "description": "The document was created.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoDocument"
                        }
                    },
                    "400": {
                        "description": "Bad request/validation error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "409": {
                        "description": "The document id (parameter) doesn't match the doc_id field in the body of the request.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    }
                }
            },
            "get": {
                "summary": "Gets a document.",
                "description": "Gets a document.",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The document was fetched.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoDocument"
                        }
                    },
                    "400": {
                        "description": "Bad request/validation error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "404": {
                        "description": "Invalid document id.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "500": {
                        "description": "Internal server error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    }
                }
            },
            "delete": {
                "summary": "Deletes a document.",
                "description": "Deletes a document.",
                "parameters": [
                    {
                        "name": "documentId",
                        "in": "path",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The document was deleted."
                    },
                    "500": {
                        "description": "Internal server error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    },
                    "default": {
                        "description": "Unexpected error.",
                        "schema": {
                            "$ref": "#/definitions/RetrescoClientError"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "RetrescoDocument": {
            "type": "object",
            "properties": {
                "doc_id": {
                    "type": "string",
                    "required": true
                },
                "title": {
                    "type": "string",
                    "required": true
                },
                "supertitle": {
                    "type": "string"
                },
                "teaser": {
                    "type": "string",
                    "required": true
                },
                "teaser_img_url": {
                    "type": "string"
                },
                "teaser_img_subline": {
                    "type": "string"
                },
                "body": {
                    "type": "string"
                },
                "author": {
                    "type": "string"
                },
                "doc_type": {
                    "type": "string",
                    "required": true
                },
                "url": {
                    "type": "string",
                    "required": true
                },
                "section": {
                    "type": "string"
                },
                "date": {
                    "type": "string",
                    "required": true
                },
                "startdate": {
                    "type": "string"
                },
                "enddate": {
                    "type": "string"
                },
                "rtr_persons": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_locations": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_organisations": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_products": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_events": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "rtr_keywords": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "RetrescoClientError": {
            "type": "object",
            "properties": {
                "status": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}
